.side-bar
  .side-bar_username
    .side-bar_username_top-items
      .side-bar_username_top-items_name
        tesuto
      .side-bar_username_top-items_icons
        = link_to "#", class: "side-bar_username_top-items_icons_edit" do
          = icon('far', 'edit',  class: "side-bar_username_top-items_icons_icon") 
        = link_to "#", class: "side-bar_username_top-items_icons_cog" do
          = icon('fas', 'cog',  class: "side-bar_username_top-items_icons_icon")
  .side-bar_gruoplist
    .side-bar_gruoplist_chat
      .side-bar_gruoplist_chat_name
        73
      .side-bar_gruoplist_chat_messeage
        "まだメッセージはありません"
    .side-bar_gruoplist_chat
      .side-bar_gruoplist_chat_name
        tesuto
      .side-bar_gruoplist_chat_messeage
        tesueo    